body {
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	background-color: #fff;
}

h1 {
	color: #555;
	font-weight: 400;
}

button {
	border: inherit;
	font-size: inherit;
	font-weight: inherit;
}

#drop-zone {
	background-color: #ddd;
	height: 300px;
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	margin: auto;
	border-radius: 10px;
	border: solid 2px rgba(0, 0, 0, 0.2);
	transition: 0.3s all ease;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

#drop-zone p {
	color: rgba(0, 0, 0, 0.3);
	font-weight: 700;
	font-size: 24px;
	margin: 0;
}

#file-name {
	color: rgba(0, 0, 0, 0.2) !important;
	font-weight: 700;
	font-size: 18px;
	border: dashed 3px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	margin: 20px;
}

#drop-zone:hover {
	background-color: #f2f2f2;
}


.file-button {	
	color: white;
	background-color: #2196F3;
	border-radius: 4px;
	padding: 10px 20px;
	vertical-align: middle;
	transition: 0.3s all ease;
	margin: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	font-weight: 400;
}

.file-button:hover {
	background-color: #54b3ff;
}

#file-name {
	padding: 10px 20px;
	color: #fff;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.convert {
	background-color: #4CAF50;
}

.convert:hover {
	background-color: #78d27c;
}